@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
* {
    background-color: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar li {
    padding: 0 1em;
    list-style: none;
}

.navbar a {
    color: rgba(255, 251, 251, 0.739);
    text-decoration: none;
    transition: .5s ease;
}

.navbar a:hover {
    color: #f2f2f2;
}

.container{
    margin: 1rem 10% 0 10%;
}
.container h1{
    font-size: 75px;
}